export VIRTUAL_ENV=.venv
layout python
if ! which uv &>/dev/null; then
  pip install uv
fi
uv sync
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES # Needed for macOS versions after High Sierra
export AWS_REGION=ap-southeast-2
