use nix

export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES # Needed for macOS versions after High Sierra
export AWS_REGION=ap-southeast-2
export TALOSCONFIG=$PWD/talos/clusterconfig/talosconfig
export KUBECONFIG=$PWD/talos/clusterconfig/kubeconfig