{% for disk in parity_partitions %}
parity /mnt/{{ disk | basename }}/snapraid.parity
{% endfor %}
content /mnt/data-1/.snapraid.content
content /mnt/parity-1/.snapraid.content
exclude /lost+found/
exclude .snapshots/
exclude /tmp/
exclude /temp/
exclude /downloads/
exclude .DS_Store
exclude .snapraid.content
{% for disk in data_partitions %}
data d{{ loop.index }} /mnt/{{ disk | basename }}
{% endfor %}
