# msmtp configuration for system-wide SMTP relay
# See: https://marlam.de/msmtp/msmtprc.txt

defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-bundle.crt

account        ses
host           {{ smtp.server }}
port           {{ smtp.port | default(587) }}
from           {{ smtp.from | default(ansible_hostname ~ '@dray.id.au') }}
user           {{ smtp.username }}
password       {{ smtp.password }}

auto_from      off
account default : ses
