---
clusterName: home-cluster
talosVersion: v1.12.4
kubernetesVersion: v1.35.1
endpoint: https://192.168.5.10:6443
domain: cluster.local
allowSchedulingOnMasters: true
additionalApiServerCertSans:
  - home-cluster.local
  - home-cluster.dray.id.au
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12
cniConfig:
  name: flannel
patches:
  - |-
    - op: add
      path: /machine/env
      value:
        GRPC_GO_LOG_SEVERITY_LEVEL: error
  - |-
    - op: add
      path: /machine/registries
      value:
        config:
          docker.io:
            auth:
              username: ${dockerhub_username}
              password: ${dockerhub_password}

  - |-
    - op: add
      path: /machine/kubelet/extraMounts
      value:
        - destination: /var/lib/longhorn
          type: bind
          source: /var/lib/longhorn
          options:
            - bind
            - rshared
            - rw
  - |-
    - op: add
      path: /machine/kubelet/extraArgs
      value:
        allowed-unsafe-sysctls: "net.ipv4.conf.all.src_valid_mark"
        rotate-server-certificates: true
        feature-gates: InPlacePodVerticalScaling=true
  - |-
    - op: add
      path: /machine/sysctls
      value:
        vm.nr_hugepages: "1024"
  - |-
    - op: add
      path: /machine/kernel
      value:
        modules:
          - name: nvme_tcp
          - name: vfio_pci
          - name: wireguard
  - |-
    - op: replace
      path: /machine/install/wipe
      value: true
  - |-
    - op: add
      path: /cluster/etcd/extraArgs
      value:
        heartbeat-interval: "300"
        election-timeout: "1500"
  - |-
    - op: add
      path: /cluster/apiServer/extraArgs
      value:
        feature-gates: InPlacePodVerticalScaling=true
  - |-
    - op: add
      path: /cluster/controllerManager/extraArgs
      value:
        feature-gates: InPlacePodVerticalScaling=true
  - |-
    - op: add
      path: /cluster/scheduler/extraArgs
      value:
        feature-gates: InPlacePodVerticalScaling=true
  - |-
    - op: add
      path: /cluster/extraManifests
      value:
        - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
        - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
nodes:
  - hostname: controlplane
    ipAddress: 192.168.5.11, 192.168.5.12, 192.168.5.13
    controlPlane: true
    ignoreHostname: true
    nodeLabels:
      node.kubernetes.io/exclude-from-external-load-balancers: "false"
    certSans:
      - 192.168.5.10
      - home-cluster.local
      - home-cluster.dray.id.au
    machineSpec:
      mode: metal
      arch: amd64
      useUKI: true
      secureboot: false
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/i915
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    imageSchematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/i915
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    installDiskSelector:
      size: "> 10GB"
    nameservers:
      - 192.168.5.53
      - 9.9.9.9
      - 1.1.1.1
    networkInterfaces:
      - interface: eth0
        dhcp: true
        vip:
          ip: 192.168.5.10
