---
clusterName: home-cluster
talosVersion: v1.12.4
kubernetesVersion: v1.35.1
endpoint: https://192.168.5.10:6443
domain: cluster.local
allowSchedulingOnMasters: true
additionalApiServerCertSans:
  - home-cluster.local
  - home-cluster.dray.id.au
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12
cniConfig:
  name: flannel
patches:
  - |-
    machine:
      env:
        GRPC_GO_LOG_SEVERITY_LEVEL: error
      registries:
        config:
          docker.io:
            auth:
              username: ${dockerhub_username}
              password: ${dockerhub_password}
      kubelet:
        extraMounts:
          - destination: /var/lib/longhorn
            type: bind
            source: /var/lib/longhorn
            options:
              - bind
              - rshared
              - rw
        extraArgs:
          allowed-unsafe-sysctls: "net.ipv4.conf.all.src_valid_mark"
          rotate-server-certificates: true
          feature-gates: InPlacePodVerticalScaling=true
      sysctls:
        vm.nr_hugepages: "1024"
      kernel:
        modules:
          - name: nvme_tcp
          - name: vfio_pci
          - name: wireguard
      install:
        wipe: true
    cluster:
      etcd:
        extraArgs:
          heartbeat-interval: "300"
          election-timeout: "1500"
      apiServer:
        extraArgs:
          feature-gates: InPlacePodVerticalScaling=true
      controllerManager:
        extraArgs:
          feature-gates: InPlacePodVerticalScaling=true
      scheduler:
        extraArgs:
          feature-gates: InPlacePodVerticalScaling=true
      extraManifests:
        - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
        - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
nodes:
  - hostname: controlplane
    ipAddress: 192.168.5.11, 192.168.5.12, 192.168.5.13
    controlPlane: true
    ignoreHostname: true
    nodeLabels:
      node.kubernetes.io/exclude-from-external-load-balancers: "false"
    certSans:
      - 192.168.5.10
      - home-cluster.local
      - home-cluster.dray.id.au
    machineSpec:
      mode: metal
      arch: amd64
      useUKI: true
      secureboot: false
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/i915
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    imageSchematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/intel-ucode
            - siderolabs/i915
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    installDiskSelector:
      size: "> 10GB"
    nameservers:
      - 192.168.5.53
      - 9.9.9.9
      - 1.1.1.1
    networkInterfaces:
      - interface: eth0
        dhcp: true
        vip:
          ip: 192.168.5.10
